{
  "extends": "eslint-config-airbnb-base",
  "globals": {
    "document": true,
    "window": true,
    "Worker": true
  },
  "rules": {
    "func-names": 0,
    "no-undef": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/no-unresolved": 0
  }
}